/*
    @version 2022-17-02
*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body    {
    font-family: 'Readex Pro', sans-serif;
    font-size: 100%; 
    font-weight: normal; 
    color: #000; 
    background: #FEF1E6;
}
    
